/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/rgb_colors.h>

// ###############################################################
// Define Aliases
// ###############################################################

// ---------------------------------------------------------------
// Define Aliases: Layers
// ---------------------------------------------------------------
// NOTE: These are just aliases for layer numbers. The actual layer numbers are determined by the order of the layers in the keymap.
// If you change the order of the layers, you must also change the layer numbers below.

#define QWERTY_3R         0   // TekBoArt Base QWERTY layer (3-row)
/* #define DEFAULT           0   // Glove80 default layer */
#define QWERTY_6R         1   // TekBoArt Base Standard layer
#define TYPING            2   // TekBoArt Typing layer
#define GAMING            3   // TekBoArt Gaming layer
#define SYMBOL            4   // TekBoArt Symbol layer
#define NUMBER            5   // TekBoArt Number layer
#define CURSOR            6   // TekBoArt Cursor layer
#define LOWER             7   // Glove80 lower layer
#define MAGIC             8   // Glove80 magic layer
#define FUNCTION          9  // TekBoArt Function layer

// ---------------------------------------------------------------
// Define Aliases: Layer Switch/Activtion
// ---------------------------------------------------------------
// (Base) QWERTY Layer (3-row)
#define TG_BASE  &tog QWERTY_3R
#define TO_BASE  &to QWERTY_3R

// (Base) QWERTY Layer (6-row)
#define TG_STD   &tog QWERTY_6R
#define TO_STD   &to QWERTY_6R

// Typing Layer
#define TG_TYP   &tog TYPING
#define TO_TYP   &to TYPING

// Gaming Layer
#define TG_GAME  &tog GAMING
#define TO_GAME  &to GAMING

// Number Layer
#define LT_NUM   &lt NUMBER SPC
#define MO_NUM   &mo NUMBER
#define TG_NUM   &tog NUMBER

// Symbol Layer
#define LT_SYM   &lt SYMBOL DEL
#define MO_SYM   &mo SYMBOL
#define TG_SYM   &tog SYMBOL

// Cursor Layer
#define LT_CSR   &lt CURSOR BSPC
#define MO_CSR   &mo CURSOR
#define TG_CSR   &tog CURSOR

// Function Layer
#define LT_FN    &lt FUNCTION ENTER
#define MO_FN    &mo FUNCTION
#define TG_FN    &tog FUNCTION

// ---------------------------------------------------------------
// Define Aliases: OS specific actions
// ---------------------------------------------------------------
// Based on Sunsaku's: https://github.com/sunaku/glove80-keymaps
//
// OPERATING_SYSTEM defines which operating system you intend to use
// with this keymap, because shortcuts vary across operating systems.
//
// - https://zmk.dev/docs/codes
// - https://en.wikipedia.org/wiki/Table_of_keyboard_shortcuts
//
// This setting also affects the UNICODE() function defined below, as
// each OS has different shortcuts for typing Unicode hex characters.
//
// NOTE: You may need to enable Unicode hexadecimal input in your OS:
// - (macOS) https://uknowit.uwgb.edu/page.php?id=22623
//     and   https://github.com/ldanet/unicode-hex-input-fix
// - (Linux) https://help.ubuntu.com/stable/ubuntu-help/tips-specialchars.html.en#ctrlshiftu
// - (Windows) https://github.com/samhocevar/wincompose
//
// Specifically, Windows users should be running the WinCompose tool,
// which lets you type Unicode characters via hexadecimal codepoints.
//

// Define your preferred operating system
// TODO: can we detect the OS automatically? (like QMK does)
#ifndef OPERATING_SYSTEM
  #define OPERATING_SYSTEM 'L' // linux
//#define OPERATING_SYSTEM 'M' // macos
//#define OPERATING_SYSTEM 'W' // windows
#endif

// Aliases that are different for MacOS, but similr for Linux and Windows
#if OPERATING_SYSTEM == 'M'
  #define _C      LG
  #define _A_TAB  LGUI
  #define _G_TAB  LALT
  #define _REDO   LG(LS(Z))
  #define _POWER  K_POWER
  #define _WORD   LA
  #define _HOME   LG(LEFT)
  #define _END    LG(RIGHT)
  #define _EMOJI  LG(LC(SPACE))
  #define _FILES  LS(LA(M))
  #define _GLOBE  GLOBE
#else
  #define _C      LC
  #define _A_TAB  LALT
  #define _G_TAB  LGUI
  #define _REDO   LC(Y)
  #define _POWER  C_POWER
  #define _WORD   LC
  #define _HOME   HOME
  #define _END    END
  #define _EMOJI  LG(DOT)
  #define _FILES  LG(E)
  #define _GLOBE  LGUI
#endif
// Aliases shared across all OSes
#define _SLEEP      C_SLEEP

#if OPERATING_SYSTEM == 'W'
  #define _LOCK   LG(L)
#elif OPERATING_SYSTEM == 'M'
  #define _LOCK   _C(LC(Q))
#elif OPERATING_SYSTEM == 'L'
  #define _LOCK   K_LOCK
#endif
#define _UNDO       _C(Z)
#define _CUT        _C(X)
#define _COPY       _C(C)
#define _PASTE      _C(V)
#define _FIND       _C(F)
#define _FIND_NEXT  _C(G)
#define _FIND_PREV  _C(LS(G))


/ {
    behaviors {
        // For the "layer" key, it'd nice to be able to use it as either a shift or a toggle.
        // Configure it as a tap dance, so the first tap (or hold) is a &mo and the second tap is a &to
        layer_td: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo LOWER>, <&to LOWER>;
        };
    };

    macros {
        bt_0: bt_profile_macro_0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 0>;
        };

        bt_1: bt_profile_macro_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 1>;
        };

        bt_2: bt_profile_macro_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 2>;
        };

        bt_3: bt_profile_macro_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        /* default_layer { */
        /*     // --------------------------------------------------------------------------------------------------------------------------------- */
        /*     // |  F1   |  F2 |  F3 |  F4  |  F5  |                                                               |  F6   |  F7   |  F8  |   F9  |  F10 | */
        /*     // |  =    |  1  |  2  |  3   |  4   |  5   |                                                 |  6   |   7   |   8   |  9   |   0   |   -  | */
        /*     // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                                                 |  Y   |   U   |   I   |  O   |   P   |   \  | */
        /*     // |  ESC  |  A  |  S  |  D   |  F   |  G   |                                                 |  H   |   J   |   K   |  L   |   ;   |   '  | */
        /*     // |   `   |  Z  |  X  |  C   |  V   |  B   | LSHFT | LCTRL | LOWER | | LGUI  | RCTRL | RSHFT |  N   |   M   |   ,   |  .   |   /   | PGUP | */
        /*     // | MAGIC | HOME| END | LEFT | RIGHT|      | BSPC  | DEL   | LALT  | | RALT  | RET   | SPACE |      |  UP   | DOWN  |  [   |   ]   | PGDN | */
        /*  */
        /*     bindings = < */
        /*     &kp F1         &kp F2   &kp F3      &kp F4      &kp F5                                                                                         &kp F6  &kp F7      &kp F8      &kp F9      &kp F10 */
        /*     &kp EQUAL      &kp N1   &kp N2      &kp N3      &kp N4      &kp N5                                                                     &kp N6  &kp N7  &kp N8      &kp N9      &kp N0      &kp MINUS */
        /*     &kp TAB        &kp Q    &kp W       &kp E       &kp R       &kp T                                                                      &kp Y   &kp U   &kp I       &kp O       &kp P       &kp BSLH */
        /*     &kp ESC        &kp A    &kp S       &kp D       &kp F       &kp G                                                                      &kp H   &kp J   &kp K       &kp L       &kp SEMI    &kp SQT */
        /*     &kp GRAVE      &kp Z    &kp X       &kp C       &kp V       &kp B   &kp LSHFT   &kp LCTRL   &layer_td  &kp LGUI  &kp RCTRL &kp RSHFT   &kp N   &kp M   &kp COMMA   &kp DOT     &kp FSLH    &kp PG_UP */
        /*     &mo MAGIC      &kp HOME &kp END     &kp LEFT    &kp RIGHT           &kp BSPC    &kp DEL     &kp LALT   &kp RALT  &kp RET   &kp SPACE           &kp UP  &kp DOWN    &kp LBKT    &kp RBKT    &kp PG_DN */
        /*     >; */
        /* }; */

        qwerty_3row {
            bindings = <
            &none          &none    &none       &none       &none                                                                                                                                  &none   &none       &none       &none       &none
            &none          &none    &none       &none       &none       &none                                                                                                              &none   &none   &none       &none       &none       &none
            &kp TAB        &kp Q    &kp W       &kp E       &kp R       &kp T                                                                                                              &kp Y   &kp U   &kp I       &kp O       &kp P       &kp BSLH
            &kp ESC        &kp A    &kp S       &kp D       &kp F       &kp G                                                                                                              &kp H   &kp J   &kp K       &kp L       &kp SEMI    &kp SQT
            &sk LSHFT      &kp Z    &kp X       &kp C       &kp V       &kp B   &none      &none               &none      &none             &none               &none              &kp N   &kp M   &kp COMMA   &kp DOT     &kp FSLH    &sk RSHFT
            &mo MAGIC      &none    &none       &none       &none               LT_CSR     &lt NUMBER SPACE    &kp TAB    &kp ESC           &lt SYMBOL DEL      &lt FUNCTION RET
            >;
        };

        // TODO: Add a MAC Keymap for QWERTY and Standard layouts, separately.

        qwerty_6row {
            bindings = <
            &kp ESC        &kp F1    &kp F2      &kp F3      &kp F4                                                                                               &kp F7  &kp F8      &kp F9      &kp F10     &kp F11
            &kp GRAVE      &kp N1    &kp N2      &kp N3      &kp N4      &kp N5                                                                           &kp N6  &kp N7  &kp N8      &kp N9      &kp N0      &kp F12
            &kp TAB        &kp Q     &kp W       &kp E       &kp R       &kp T                                                                            &kp Y   &kp U   &kp I       &kp O       &kp P       &kp BSLH
            &kp CAPS       &kp A     &kp S       &kp D       &kp F       &kp G                                                                            &kp H   &kp J   &kp K       &kp L       &kp SEMI    &kp SQT
            &kp LSHIFT     &kp Z     &kp X       &kp C       &kp V       &kp B   &kp DEL     &kp HOME   &kp PGUP  &kp RET   &kp UP    &kp BSPC            &kp N   &kp M   &kp COMMA   &kp DOT     &kp FSLH    &kp RSHFT
            &mo FUNCTION   &kp LCTRL &kp LALT    &kp LGUI    &kp F5              &kp SPACE   &kp END    &kp PGDN  &kp LEFT  &kp DOWN  &lt FUNCTION RIGHT          &kp F6  &kp LBKT    &kp RBKT    &kp MINUS   &kp EQUAL
            >;
        };

        typing {
            bindings = <
            &trans         &trans   &trans      &trans      &trans                                                                                         &trans  &trans      &trans      &trans      &trans
            &trans         &trans   &trans      &trans      &trans      &trans                                                                     &trans  &trans  &trans      &trans      &trans      &trans
            &trans         &trans   &trans      &trans      &trans      &trans                                                                     &trans  &trans  &trans      &trans      &trans      &trans
            &trans         &kp A    &kp S       &kp D       &kp F       &kp G                                                                      &kp H   &kp J   &kp K       &kp L       &kp SEMI    &trans
            &trans         &trans   &trans      &trans      &trans      &trans  &trans      &trans       &trans      &trans     &trans     &trans  &trans  &trans   &trans     &trans      &trans      &trans
            &mo MAGIC      &trans   &trans      &trans      &trans              &kp BSPC    &kp SPACE    &kp TAB     &kp ESC    &kp DEL    &kp RET         &trans   &trans     &trans      &trans      &trans
            >;
        };


        gaming {
            bindings = <
            &none          &none    &none       &none       &none                                                                                          &none   &none       &none       &none       &none
            &none          &none    &none       &none       &none       &none                                                                      &none   &none   &none       &none       &none       &none
            &trans         &trans   &kp W       &trans      &trans      &trans                                                                     &trans  &trans   &kp UP     &trans      &trans      &trans
            &trans         &kp A    &kp S       &kp D       &trans      &trans                                                                     &trans  &kp LEFT &kp DOWN   &kp RIGHT   &trans      &trans
            &trans         &trans   &trans      &trans      &trans      &trans  &trans      &trans       &trans      &trans     &trans     &trans  &trans  &trans   &trans     &trans      &trans      &trans
            &mo MAGIC      &trans   &trans      &trans      &trans              &kp BSPC    &kp SPACE    &kp TAB     &kp ESC    &kp DEL    &kp RET         &trans   &trans     &trans      &trans      &trans
            >;
        };

        symbol {
            bindings = <
            &none          &none     &none      &none       &none                                                                                            &none      &none       &none       &none       &none
            &none          &none     &none      &none       &none       &none                                                                      &none     &none      &none       &none       &none       &none
            &kp EXCL       &kp LBKT  &kp LBRC   &kp RBRC    &kp RBKT    &kp AMPS                                                                   &kp LPAR  &kp BSPC   &kp SPACE   &kp RET     &kp DEL     &kp TAB
            &kp HASH       &kp CARET &kp EQUAL  &kp UNDER   &kp DLLR    &kp ASTRK                                                                  &kp GRAVE &kp RSHFT  &kp RCTRL   &kp RALT    &kp RGUI    &none
            &kp TILDE      &kp LPAR  &kp PLUS   &kp MINUS   &kp RPAR    &kp PIPE  &none         &none     &none      &none     &none     &none     &kp RPAR  &kp BSPC   &kp TAB     &kp SPACE   &kp RET     &kp RSHFT
            &none          &none     &none      &none       &none                 &kp PERCENT   &kp AT    &none      &none     &none     &none               &none      &none       &none       &none       &none
            >;
        };

        number {
            bindings = <
            &none          &none     &none      &none       &none                                                                                             &none      &none       &none       &none            &none
            &none          &none     &none      &none       &none       &none                                                                      &none      &none      &none       &none       &none            &none
            &trans         &kp DEL   &kp RET    &kp SPACE   &kp BSPC    &kp KP_NLCK                                                                &kp LPAR   &kp N7     &kp N8      &kp N9      &kp COLON        &kp PRCNT
            &kp K_CALC     &kp LGUI  &kp LALT   &kp LCTRL   &kp LSHFT   &none                                                                      &kp KP_DOT &kp N4     &kp N5      &kp N6      &kp KP_MINUS     &kp KP_PLUS
            &trans         &kp LC(A) &none      &none       &none       &none     &none       &none       &none      &none     &none     &none     &kp RPAR   &kp N1     &kp N2      &kp N3      &kp KP_MULTIPLY  &kp KP_DIVIDE
            &none          &none     &none      &none       &none                 &trans      &trans      &trans     &trans    &trans    &kp N0               &none      &none       &none       &none            &none
            >;
        };

        cursor {
            bindings = <
            &none          &none     &none       &none       &none                                                                                            &none      &none       &none          &none      &none
            &none          &none     &none       &none       &none       &none                                                                     &none      &none      &none       &none          &none      &none
            &trans         &none     &none       &none       &none       &kp LC(A)                                                                 &none      &kp LC(Z)  &kp UP      &kp LC(LS(Z))  &kp ESC    &kp TAB
            &trans         &kp LGUI  &kp LALT    &kp LCTRL   &kp LSHFT   &none                                                                     &none      &kp LEFT   &kp DOWN    &kp RIGHT      &none      &none
            &trans         &kp LC(Z) &kp LC(X)   &kp LC(C)   &kp LC(V)   &none    &none       &none       &none      &none     &none     &none     &none      &none      &kp PG_DN   &kp PG_UP      &none      &kp LC(L)
            &mo MAGIC      &none     &none       &none       &none                &trans      &trans      &trans     &trans    &trans    &trans               &none      &none       &none          &none      &none
            >;
        };

        lower_layer {
            bindings = <
            &kp C_BRI_DN      &kp C_BRI_UP  &kp C_PREV      &kp C_NEXT  &kp C_PP                                                                                                                 &kp C_MUTE   &kp C_VOL_DN &kp C_VOL_UP  &none           &kp PAUSE_BREAK
            &trans            &none         &none           &none       &none           &kp HOME                                                                                    &kp LPAR     &kp KP_NUM   &kp KP_EQUAL &kp KP_DIVIDE &kp KP_MULTIPLY &kp PSCRN
            &trans            &none         &none           &kp UP      &none           &kp END                                                                                     &kp RPAR     &kp KP_N7    &kp KP_N8    &kp KP_N9     &kp KP_MINUS    &kp SLCK
            &trans            &none         &kp LEFT        &kp DOWN    &kp RIGHT       &kp PG_UP                                                                                   &kp PRCNT    &kp KP_N4    &kp KP_N5    &kp KP_N6     &kp KP_PLUS     &none
            &trans            &kp K_CMENU   &none           &kp F11     &kp F12         &kp PG_DN       &trans      &trans      &to QWERTY_6R     &trans      &trans      &trans    &kp COMMA    &kp KP_N1    &kp KP_N2    &kp KP_N3     &kp KP_ENTER    &trans
            &trans            &kp CAPS      &kp INS         &kp F11     &kp F12                         &trans      &trans      &trans            &trans      &trans      &trans                 &kp KP_N0    &kp KP_N0    &kp KP_DOT    &kp KP_ENTER    &trans
            >;
        };

        magic_layer {
            bindings = <
            &bt BT_CLR        &none               &none           &none           &none                                                                                                           &none      &none      &none      &none      &none
            &none             &none               &none           &none           &none           &none                                                                                &none      &none      &none      &none      &none      &none
            &none             &rgb_ug RGB_SPI     &rgb_ug RGB_SAI &rgb_ug RGB_HUI &rgb_ug RGB_BRI &rgb_ug RGB_TOG                                                                      &none      &none      &none      &none      &none      &none
            &bootloader       &rgb_ug RGB_SPD     &rgb_ug RGB_SAD &rgb_ug RGB_HUD &rgb_ug RGB_BRD &rgb_ug RGB_EFF                                                                      &none      &none      &none      &none      &none      &bootloader
            &sys_reset        &none               &none           &none           &none           &none           &bt_2     &bt_3     &none            &none     &none     &none       &none      &none      &none      &none      &none      &sys_reset
            &none             &none               &none           &none           &none                           &bt_0     &bt_1     &out OUT_USB     &none     &none     &none                  &none      &none      &none      &none      &none
            >;
        };

        function {
            bindings = <
            &trans              &trans      &trans      &trans       &trans                                                                                              &trans      &trans       &trans       &trans      &trans
            &trans              &trans      &trans      &trans       &trans       &trans                                                                      &trans     &trans      &trans       &trans       &trans      &trans
            &tog QWERTY_6R      &trans      &trans      &trans       &trans       &trans                                                                      &kp LPAR   &kp F7      &kp F8       &kp F9       &kp F10     &kp F13
            &kp CAPS            &kp LGUI    &kp LALT    &kp LCTRL    &kp LSHFT    &trans                                                                      &kp KP_DOT &kp F4      &kp F5       &kp F6       &kp F11     &kp F14
            &tog TYPING         &kp C_PREV  &kp C_PP    &kp C_NEXT   &trans       &trans     &trans      &trans      &trans     &trans    &trans    &trans    &kp RPAR   &kp F1      &kp F2       &kp F3       &kp F12     &kp F15
            &trans              &trans      &trans      &trans       &trans                  &trans      &trans      &trans     &trans    &trans    &trans               &trans      &trans       &trans       &trans      &trans
            >;
        };

    };
    //////////////////////////////////////////////////////////////////////////////
    //
    // Per-key RGB indicators for layers & mods -- requires PR36 beta firmware:
    // override "EXPERIMENTAL_RGB_LAYER" to "y" in Advanced Configuration and
    // select "community.pr36.per-key-rgb" from the drop-down menu located at
    // Glove80 Layout Editor > Settings > Advanced Settings > Firmware Version
    //
    // - https://github.com/moergo-sc/zmk/pull/36
    // - https://github.com/moergo-sc/zmk/pull/30
    // - https://github.com/zmkfirmware/zmk/pull/2752
    // - https://dev.glove80.com/#/layout/user/c42ac32d-dc0d-4160-9ee3-fd0fc15f1725
    //
    //////////////////////////////////////////////////////////////////////////////

    #if __has_include(<dt-bindings/zmk/rgb_colors.h>)
      //
      // Color definitions with conflict guard to prevent
      // accidental redefinition of common abbreviations.
      //
      #if defined(RED) || defined(RED_RGB) || \
          defined(COR) || defined(COR_RGB) || \
          defined(ORN) || defined(ORN_RGB) || \
          defined(GDN) || defined(GDN_RGB) || \
          defined(GOL) || defined(GOL_RGB) || \
          defined(YLW) || defined(YLW_RGB) || \
          defined(CHU) || defined(CHU_RGB) || \
          defined(GRN) || defined(GRN_RGB) || \
          defined(SPG) || defined(SPG_RGB) || \
          defined(CYN) || defined(CYN_RGB) || \
          defined(AZU) || defined(AZU_RGB) || \
          defined(TEA) || defined(TEA_RGB) || \
          defined(TUR) || defined(TUR_RGB) || \
          defined(BLU) || defined(BLU_RGB) || \
          defined(PUR) || defined(PUR_RGB) || \
          defined(MAJ) || defined(MAJ_RGB) || \
          defined(PNK) || defined(PNK_RGB) || \
          defined(WHT) || defined(WHT_RGB) || \
          defined(BLK) || defined(BLK_RGB) || \
          defined(___) || \
          defined(DUG) || defined(DUG_RGB) || \
          defined(LAC) || defined(LAC_RGB) || \
          defined(BSL) || defined(BNL) || defined(BCL) || \
          defined(SSL) || defined(SNL) || defined(SCL) || \
          defined(FST) || defined(WRP) || defined(SLO)
      #error "Naming conflict: 3-letter color abbreviation already defined!"
      #endif

      //
      // color definitions from QMK
      // https://github.com/qmk/qmk_firmware/blob/master/quantum/color.h
      //
      #define RED_RGB 0xFF0000 // #FF0000 RED      => RED (red)
      #define COR_RGB 0xFF7C4D // #FF7C4D CORAL    => COR (coral)
      #define ORN_RGB 0xFF8000 // #FF8000 ORANGE   => ORN (ornj)
      #define GDN_RGB 0xD9A521 // #D9A521 GOLDNROD => GDN (gold'nrod)
      #define GOL_RGB 0xFFD900 // #FFD900 GOLD     => GOL (gold)
      #define YLW_RGB 0xFFFF00 // #FFFF00 YELLOW   => YLW (yellow)
      #define CHU_RGB 0x80FF00 // #80FF00 CHARTRSE => CHU (chartreuse)
      #define GRN_RGB 0x00FF00 // #00FF00 GREEN    => GRN (green)
      #define SPG_RGB 0x00FF80 // #00FF80 SPRINGRN => SPG (spring green)
      #define CYN_RGB 0x00FFFF // #00FFFF CYAN     => CYN (sigh-an)
      #define AZU_RGB 0x99F5FF // #99F5FF AZURE    => AZU (a-zur)
      #define TEA_RGB 0x008080 // #008080 TEAL     => TEA (teel)
      #define TUR_RGB 0x476E6A // #476E6A TURQUOIS => TUR (turquoise)
      #define BLU_RGB 0x0000FF // #0000FF BLUE     => BLU (bloo)
      #define PUR_RGB 0x7A00FF // #7A00FF PURPLE   => PUR (purp)
      #define MAJ_RGB 0xFF00FF // #FF00FF MAGENTA  => MAJ (mah-jenta)
      #define PNK_RGB 0xFF80BF // #FF80BF PINK     => PNK (pink)
      #define WHT_RGB 0xFFFFFF // #FFFFFF WHITE    => WHT (white)
      #define BLK_RGB 0x000000 // #000000 BLACK    => BLK (blak)

      //
      // color definitions from MoErgo
      // https://github.com/moergo-sc/zmk/blob/aca523dfce9b6447ffd19d833b791d44f1f286de/app/src/rgb_underglow.c#L259-L265
      //
      #define DUG_RGB 0x00ff68 // #00ff68 DULL_GRN => DUG (dull green)
      #define LAC_RGB 0x6b1fce // #6b1fce LILAC    => LAC (lilac)

      //
      // underglow for the colors above
      //
      #define RED &ug RED_RGB
      #define COR &ug COR_RGB
      #define ORN &ug ORN_RGB
      #define GDN &ug GDN_RGB
      #define GOL &ug GOL_RGB
      #define YLW &ug YLW_RGB
      #define CHU &ug CHU_RGB
      #define GRN &ug GRN_RGB
      #define SPG &ug SPG_RGB
      #define CYN &ug CYN_RGB
      #define AZU &ug AZU_RGB
      #define TEA &ug TEA_RGB
      #define TUR &ug TUR_RGB
      #define BLU &ug BLU_RGB
      #define PUR &ug PUR_RGB
      #define MAJ &ug MAJ_RGB
      #define PNK &ug PNK_RGB
      #define WHT &ug WHT_RGB
      #define BLK &ug BLK_RGB
      #define ___ &ug BLK_RGB
      #define DUG &ug DUG_RGB
      #define LAC &ug LAC_RGB

      //
      // underglow for keyboard locks on the Base layer
      //
      #define BSL &ug_sl LAC_RGB WHT_RGB // ScrollLock COLOR_OFF COLOR_ON
      #define BNL &ug_nl LAC_RGB WHT_RGB // NumLock    COLOR_OFF COLOR_ON
      #define BCL &ug_cl BLK_RGB WHT_RGB // CapsLock   COLOR_OFF COLOR_ON

      //
      // underglow for keyboard locks on the System layer
      //
      #define SSL &ug_sl BLK_RGB WHT_RGB // ScrollLock COLOR_OFF COLOR_ON
      #define SNL &ug_nl BLK_RGB WHT_RGB // NumLock    COLOR_OFF COLOR_ON
      #define SCL &ug_cl BLK_RGB WHT_RGB // CapsLock   COLOR_OFF COLOR_ON

      //
      // colors for mouse speed scaling in Mouse layers
      //
      #define FST GOL
      #define SLO PNK
      #define WRP CHU

      // ==== PER-KEY-RGB <section begins> ====
      / {
        underglow-layer {
          compatible  = "zmk,underglow-layer";

          /*
          Template {
            bindings = <
              ___ ___ ___ ___ ___                                             ___ ___ ___ ___ ___
              ___ ___ ___ ___ ___ ___                                     ___ ___ ___ ___ ___ ___
              ___ ___ ___ ___ ___ ___                                     ___ ___ ___ ___ ___ ___
              ___ ___ ___ ___ ___ ___                                     ___ ___ ___ ___ ___ ___
              ___ ___ ___ ___ ___ ___     ___ ___ ___     ___ ___ ___     ___ ___ ___ ___ ___ ___
              ___ ___ ___ ___ ___         ___ ___ ___     ___ ___ ___         ___ ___ ___ ___ ___
            >;
            layer-id = <LAYER_Template>;
          };
          */

          // QWERTY_3R
          #ifdef QWERTY_3R
          qwerty_3row {
            bindings = <
              ___ ___ ___ ___ ___                                             ___ ___ ___ ___ ___
              ___ ___ ___ ___ ___ ___                                     ___ ___ ___ ___ ___ ___
              ___ ___ ___ ___ ___ ___                                     ___ ___ ___ ___ ___ ___
              BCL RED RED RED RED ___                                     ___ RED RED RED RED ___
              ___ ___ ___ ___ ___ ___     ___ ___ ___     ___ ___ ___     ___ ___ ___ ___ ___ ___
              ___ ___ ___ ___ ___         ___ ___ ___     ___ ___ ___         ___ ___ ___ ___ ___
            >;
            layer-id = <QWERTY_3R>;
          };
          #endif

          // QWERTY_6R
          // TYPING
          // GAMING
          // SYMBOL
          // NUMBER
          // CURSOR
          // LOWER
          // MAGIC
          // FUNCTION

        };
      };
      // ==== PER-KEY-RGB <section ends> =====

};
